<div> 
     <button type="button" (click)="getdetail1()">Stu1</button>
    {{receivedata1}} <br>
    <button type="button" (click)="getdetail2()">Stu2</button>
    {{receivedata2}} <br> 
     Student data
      <h2>Student data</h2>
    <button type="button" (click)="getstu1()">Student1</button>
    {{receivestudent1}} <br><br>
    <button type="button" (click)="getstu2()">student2</button>
    {{receivestudent2}}
    <br><br>
    <ul *ngFor="let item of receivestudent2">
        <li>{{item}}</li>

    </ul>
    <button type="button" (click)="getstu3()">student3</button>
    {{receivestudent3}} <br><br>
    <button type="button" (click)="getstu4()">student4</button>
    {{receivestudent4}} <br><br>
    <button type="button" (click)="getstu5()">student5</button>
    {{receivestudent5}} <br><br>

    <h2>Faculty data</h2>
    <button type="button" (click)="getfac1()">Faculty1</button>
    {{receivefaculty1}} <br><br>
    <button type="button" (click)="getfac2()">Faculty2</button>
    {{receivefaculty2}}
    <br><br>
    <button type="button" (click)="getfac3()">Faculty3</button>
    {{receivefaculty3}} <br><br>
    <button type="button" (click)="getfac4()">Faculty4</button>
    {{receivefaculty4}} <br><br>
    <button type="button" (click)="getfac5()">Faculty5</button>
    {{receivefaculty5}} <br><br> 

</div>